<h1>Comment Sections</h1>

<ul>
    <li ng-repeat="comment in $ctrl.comments | limitTo: 3 | filter:$ctrl.query  | orderBy:$ctrl.orderProp">
        <h3>Comment: {{ comment.id }}</h3>
        <p>Name: {{ comment.name }}</p>
        <p>Email: {{ comment.email }}</p>
        <p>Comment: {{ comment.body }}</p>
    </li>
</ul>

<form ng-submit="submitComment()" id="commentsForm" name="commentsForm">
    <fieldset>
        <legend>Post a comment</legend>

        <div class="alert alert-danger" ng-show="c.alert">There was an error posting your comment, please try again later</div>
        <div class="form-group name-group">
            <label for="name" class="control-label">Name</label>
            <div class="control-field">
                <input class="form-control" id="name" name="name" type="text" value="" tabindex="1" ng-model="c.author">
            </div>
        </div>
        <div class="form-group email-group">
            <label for="email" class="control-label">Email</label>
            <div class="control-field">
                <input class="form-control" id="email" name="email" type="email" value="" tabindex="2" ng-model="c.email">
            </div>
        </div>
        <div class="form-group comment-group">
            <label for="comment" class="control-label">Comment</label>
            <div class="control-field">
                <textarea class="form-control" cols="30" rows="5" name="comment" id="comment-textarea" tabindex="3" ng-model="c.comment" required></textarea>
            </div>
        </div>
        <div class="form-group button-group">
            <div class="control-field">
                <button type="submit" class="btn btn-primary btn-comment" tabindex="4">Post comment</button>
                <a href="" class="btn btn-danger btn-post-comment">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>
